.center {
  text-align: center;
}

.thread {
  margin-top: 80px;
}

#threadCard {
  width: 65%;
  opacity: .7;
}

#rulesCard {
  margin-right: 20px;
  width: 30%;
  text-align: center;
  float: right;
  opacity: .7;
}

#list {
  color: turquoise;
}