<div class="center">
    <div id="rulesCard" class="card bg-warning">
        <h2>Rules of the Board:</h2>
        <ul>
          <li>Don't be Mean.</li>
          <br>
          <li>Post whatever you want, As long as it's not discriminatory.</li>
          <br>
          <li>Try not to delete other people's posts.</li>
          <br>
          <li>Try to post A link with every new thread that you make.</li>
          <br>
          <li>3 offenses and you will be banned!</li>
          <br>
          <li>Have fun!</li>
        </ul>
      </div>
  <h3 id="list">List of current posts:</h3>
</div>
<ul *ngIf="threads">
  <div *ngFor="let thread of threads | async" class="thread">
    <div id="threadCard" class="card bg-info">
      <li>
        <h2>{{thread.title}}</h2>
      </li>
      <h4>{{thread.link}}</h4>
      <h3>{{thread.body}}</h3>
      <br>
      <button  class="btn btn-success btn-sm" (click)="deleteThread(thread.$key)">Delete Thread</button>
    </div>
  </div>
</ul>

